* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik';
  box-sizing: border-box;
}

header {
  width: 100vw;
  height: 30vh;
  background: url(./images/pattern-bg-desktop.png);
  background-size: 100%;
  padding: 3%;
  gap: 2vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

header h1 {
  color: white;
}

header input {
  padding: 15px;
  height: 50px;
  width: 500px;
  border-radius: 10px 0px 0px 10px;
  border: none;
}

header .form-wrapper {
  display: flex;
  align-items: center;
}

header button {
  height: 50px;
  padding: 15px;
  border: none;
  background-color: black;
  border-radius: 0px 10px 10px 0px;
  display: flex;
  align-items: center;
}

main {
  width: 100vw;
  height: 70vh;
}

main .trackerData {
  transition: 1s;
  display: none;
  min-width: 400px;
  height: 20vh;
  width: 60vw;
  position: absolute;
  z-index: 500;
  top: 20vh;
  left: 20%;
  background-color: white;
  border-radius: 1vw;
  justify-content: center;
  align-items: center;
}

main .trackerData__details {
  width: 25%;
  height: 60%;
  padding: 10px;
  border-right: 1px solid #969696;
}

main .trackerData__details p {
  font-size: clamp(12px, 1vw, 30px);
  color: #969696;
}

main .trackerData__details p:last-child {
  font-weight: 700;
  font-size: 1.5vw;
  color: #2b2b2b;
  font-size: clamp(16px, 1.5vw, 30px);
}

main .trackerData__details:last-child {
  border: none;
}

main #map {
  width: 100vw;
  height: 100%;
}

@media (max-width: 600px) {
  main .trackerData {
    transition: 1s;
    flex-direction: column;
    display: none;
    height: auto;
    min-width: 0px;
    border-radius: 15px;
  }
  main .trackerData .trackerData__details {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: none;
    align-items: center;
  }
  header input {
    width: 80vw;
  }
}
